.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  backdrop-filter: blur(5px);
  background-color: #00000050;
  position: absolute;
  z-index: 9;

  .logo {
    width: 50%;
    font-size: 30px;
    padding: 10px 0;
    color: #fff;
  }

  .menuList {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    .menuItem {
      padding: 10px 5px;

      a {
        font-size: 25px;
        color: #fff;
      }
    }
  }
}
