.modal {
  width: 300px;
  height: 300px;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  z-index: 1;
  background-color: #006600;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px;
  gap: 15px;
  transition: all 0.5s ease;

  p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #000;
    padding: 2px;

    span {
      font-size: 20px;
      font-weight: 700;

      &.key {
        color: #fff;
      }

      &.value {
        color: #900;
      }
    }
  }
}
